<div id="map" style="height: 75vh; width: 100%;">

</div>

<hr />
<br />
<h3 style="display: flex; align-items: center;">Colour <input type="color" style="height: 5vh; width: 5vw;" id="mapColor" name="mapColor" value="#34495e" /></h3>

<br />

<h3><a id="customLinkA">Get Your Custom Link</a></h3>
<span id="mapLink"></span>
<h3><a href="/TickTheWorld/">Reset</a></h3>

<style>
    .wrapper {
        max-width: 80%;
    }
</style>

<script>
    var countries = {{ site.data.countries | jsonify }};
    var countriesVisited = [];

    var selectedColor = "34495e";

    const urlS = new URLSearchParams(window.location.search);

    urlS.forEach(function(value, key) {
        if (value == "Y") {
            console.log(key, value);
            countriesVisited.push(key);
        } else {
            if (key="color") {
                value = "#" + value;
                console.log("Set color to: " + value);
                selectedColor = value;
                document.getElementById("mapColor").value = value;
            }
        }
    });

    document.getElementById("mapColor").addEventListener("change", function() {
        selectedColor = document.getElementById("mapColor").value.replace("#", "");
        window.history.pushState("object or string", "Title", "/TickTheWorld/" + buildQueryString());
        location.reload();
    });

    // document.getElementById("customLinkA").href = "/TickTheWorld/" + buildQueryString();
    
    document.body.style.zoom = 1.0000001;
    setTimeout(function(){document.body.style.zoom = 1;},50); //allow some time to flush the css buffer.
    var map = L.map('map').setView([45,0], 3);
    
    const corner1 = L.latLng(-180, -180);
    const corner2 = L.latLng(180, 180);
    bounds = L.latLngBounds(corner1, corner2);
    map.setMaxBounds(bounds);
    map.setMaxZoom(7);
    map.setMinZoom(3); // To limit API usage

    var Stadia_AlidadeSmooth = L.tileLayer('https://tiles.stadiamaps.com/tiles/alidade_smooth/{z}/{x}/{y}{r}.{ext}', {
        minZoom: 0,
        maxZoom: 20,
        attribution: '&copy; <a href="https://www.stadiamaps.com/" target="_blank">Stadia Maps</a> &copy; <a href="https://openmaptiles.org/" target="_blank">OpenMapTiles</a> &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
        ext: 'png'
    });
    
    // L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    //     attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    // }).addTo(map);

    Stadia_AlidadeSmooth.addTo(map);

    function buildQueryString() {
        var queryString = "?";
        for (const country in countriesVisited) {
            queryString += countriesVisited[country] + "=Y&";
        }
        return queryString + "color=" + selectedColor.replace("#", "");
    }

    function countryClicked(e) {
        if (countriesVisited.includes(e.target.feature.properties["ISO_A3"])) {
            countriesVisited.splice(countriesVisited.indexOf(e.target.feature.properties["ISO_A3"]), 1);
            e.target.setStyle({
                fillColor: null
            });
        } else {
            countriesVisited.push(e.target.feature.properties["ISO_A3"]);
            console.log(e.target.feature.properties["ISO_A3"]);
            e.target.setStyle({
                fillColor: selectedColor,
                fillOpacity: 1
            });
        }
        window.history.pushState("object or string", "Title", "/TickTheWorld/" + buildQueryString());
        document.getElementById("customLinkA").href = "/TickTheWorld/" + buildQueryString();
        reDraw();
    }

    function onEachFeature(feature, layer) {
        if (countriesVisited.includes(feature.properties["ISO_A3"])) {
            layer.setStyle({
                fillColor: selectedColor,
                fillOpacity: 0.5,
                color: null
            });
        } else {
            layer.setStyle({
                color: null,
                fillColor: null,
                fillOpacity: 0
            });
        }
        layer.on({
            click: countryClicked
        });
    }

    geoJSON = L.geoJSON(countries, {
        onEachFeature: onEachFeature
    }).addTo(map);

    function reDraw() {
        geoJSON.remove();
        delete geoJSON;
        geoJSON = L.geoJSON(countries, {
            onEachFeature: onEachFeature
        }).addTo(map);
        document.getElementById("customLinkA").href = "/TickTheWorld/" + buildQueryString();
        document.getElementById("mapLink").innerText = "https://kroper.uk/TickTheWorld/" + buildQueryString();
    }
    
</script>
